/* containers */
#default {
}

#justify {
}

#align {
}

#direction {
}

#wrap {
}

/* pinstrest layout */
#pinterest {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 25%;
}

.column img {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

/*

Page styles don't edit below this line

*/

#title {
  text-align: center;
  font-size: 100px;
}

h1,
h2,
ul,
p {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  min-height: 300px;
  max-height: 600px;
  width: 90%;
  max-width: 900px;
  background: #f8f8f8;
  border: 2px dotted #999;
  margin: 0 auto 50px;
  overflow: auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #fa8072;
  color: white;
  border: 1px solid #333;
}

.link {
  margin-bottom: 20px;
}
